.header {
  height: 56px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  border-bottom-style: solid;
  border-color: rgb(222, 222, 222);
  border-bottom-width: 1px;
  margin-bottom: 20px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  z-index: 100;
}
.left-side{
  display: flex;
  align-items: center;
}
.menu-icon{
  margin-right: 16px;
  margin-left: 16px;
}
.youtube-icon{
  width: 90px;
  height: 20px;
  cursor: pointer;
}
.middle-side{
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
}
.searchbar{
  flex: 1;
  width: 0px;
  height: 31.2px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border: 1px solid rgb(211, 211, 211); ;
  max-width: 440px;
  min-width: 20px;
  padding-left: 12px;
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.searchbar:focus {
  outline-color: rgb(39, 39, 254);
  outline-width: 0.5px;
  outline-style: solid;
  outline-offset: -2px;

}  
.searchbar::placeholder{
  font-size: 16px;
}
.search-button {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 35px;
  background-color: rgb(248, 248, 248);
  border-color: rgb(211, 211, 211);
  border-style: solid;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-width: 1px;
  padding-left: 6px;
  margin-left: -1px;
  margin-right: 10px;
}
.record-button, .creat-button, .apps-button,.notification-button, .menu-icon{
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  border: none;
  position: relative;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip {
  background-color: gray;
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip, .record-button:hover .tooltip, .creat-button:hover .tooltip, .apps-button:hover .tooltip, .notification-button:hover .tooltip{
  opacity: 0.9;
}
.search-button:hover, .record-button:hover, .creat-button:hover, .apps-button:hover, .notification-button:hover, .menu-icon:hover{
  background-color: rgb(235, 235, 235);
}
.search-button:active, .record-button:active, .creat-button:active, .apps-button:active, .notification-button:active, .menu-icon:active{
  background-color: rgb(220, 220, 220);
}
.right-side {
  width: 182px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-right: 29px;
  margin-left: 29px;
}
.creat-image, .squares-image, .bell-image, .record-image, .search-image, .menu-image {
  width: 24px;
}
.profile-image{
  width: 32px;
  border-radius: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.notification-button{
  position: relative;
  display: flex;
}
.notification-count{
  position: absolute;
  align-items: center;
  top: 6px;
  right: 4px;
  font-family: Roboto, Arial;
  font-size: 10px;
  background-color: rgb(204, 0, 0);
  color: white;
  padding-left: 4.5px;
  padding-right: 4.5px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  border-radius: 10px;
}
@media (max-width:600px) {
  .header {
    column-gap: 0px;
  }
  .search-button {
    width: 25px;
    margin-right: 0px;
  }
  .menu-icon, .profile-image{
    margin: 0px;
  }
  .youtube-icon {
    width: 50px;
  }
  .right-side {
    margin: 0px;
    justify-content:left;
  }
  .record-button, .apps-button,.creat-button,.notification-button,.menu-icon{
    padding: 0;
  }
}